@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  background-color: #405275;
  font-family: "Rubik", sans-serif;
  color: white;
}

.search-container {
  text-align: center;
}

#u_input, #submit_button {
  font-family: "Rubik", sans-serif;
}

#title {
  text-align: center;
}

.not_achieved {
  color: gray;
}

#canvas {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}
